<div>
    <div class="container-fluid">
          <h1>{{'FORGOT_PASSWORD' | translate}}</h1>
    </div>
  </div>

    <div class="container-fluid">
      <div>
        <div class="col-sm-9 col-md-9 col-lg-10 content equal-height">
          <div class="content-area-right">
            <div class="content-crumb-div">
              <a href="">{{'HOME' | translate}}</a> | {{'FORGOT_PASSWORD' | translate}}
            </div>
            <div>
              <div>
                  <br>
                <p>{{'PLEASE_ENTER_YOUR_EMAIL_ADDRESS_BELOW_AND_WE_WILL_SEND_YOU_EMAIL_TO_CHANGE_YOUR_PASSWORD' | translate}}</p>
                <label for="un">Email Address</label> <input id="email_addy" [(ngModel)]="email" class="form-control" type="text"><br>
                <a class="btn btn-primary" role="button" (click)="forgetPassword()">{{'RESET_PASSWORD' | translate}}</a>
              </div>
              <div class="col-md-5 forgot-return" *ngIf="passwordSent">
                <h2>{{'RESET_PASSWORD_SENT' | translate}}</h2>
                <p>{{'AN_EMAIL_HAS_BEEN_SENT_TO_YOUR_ADDRESS_WITH_A_RESET_PASSWORD_YOU_CAN_USE_TO_ACCESS_YOUR_ACCOUNT' | translate}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
