<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-body">
            <h4>View Marriages</h4>
            <div class="well">
                <form #f="ngForm" (ngSubmit)="search()">
                    <div class="row">

                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Husband</a>
                        <div id="collapseOne" class="collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="col-md-3 form-group">
                                <label>{{'First Name' | translate}}</label>
                                <input type="text" class="form-control" name="searchedHusbandfirstName" [(ngModel)]="searchedHusband.firstName">
                            </div>
                            <div class="col-md-3 form-group">
                                <label>{{'Last Name' | translate}}</label>
                                <input type="text"  class="form-control" name="searchedHusbandlastName" [(ngModel)]="searchedHusband.lastName">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">Wife</a>
                        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="col-md-3 form-group">
                                <label>{{'First Name' | translate}}</label>
                                <input type="text" class="form-control" name="searchedWifefirstName" [(ngModel)]="searchedWife.firstName">
                            </div>
                            <div class="col-md-3 form-group">
                                <label>{{'Last Name' | translate}}</label>
                                <input type="text" class="form-control" name="searchedWifefirstName" [(ngModel)]="searchedWife.lastName">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseOne">Nikkah Information</a>
                        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="col-md-3 form-group">
                                <label>{{'Date of Nikkah' | translate}}</label>
                                <div class="input-group calenderControl">
                                    <input type="text" name="dateOfBirth" class="form-control" matInput [matDatepicker]="picker">
                                    <span class="input-group-addon" id="basic-addon2">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker></span>
                                </div>
                            </div>
                            <div class="col-md-3 form-group">
                                <label>{{'Marriage inistitution' | translate}}</label>
                                <input type="text" class="form-control" name="marriageInstitustion" [(ngModel)]="searchedMarriage.institution_id">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" class="button btn btn-primary pull-right" (click)="search()">{{'SEARCH' | translate}}</button>
                        </div>
                    </div>
                </form>
            </div>
              <app-data-table 
            [Columns]="colDefinitions" 
            [(GeneralSettings)]="generalSettings"
            [PageSettings]="pageSettings"
            [Data]='data'></app-data-table>
        </div>
    </div>
</div>