<p>user-settings works!</p>

<h2>General Account Settings</h2>

<div class="container" *ngIf="address">
        <div>
            <label for="name"><b> Name </b></label><br>
            <input
            class="form-control" 
            #name="ngModel"
            [(ngModel)]="appUser.name"
            name="name"
            type="text" 
            placeholder="Enter Name"  
            id="name">
            <br>
        </div>
        <div>
            <label for="zip"><b> ZIP </b></label><br>
            <input
            class="form-control" 
            #name="ngModel"
            [(ngModel)]="address.zip"
            name="zip"
            type="text" 
            placeholder="Enter zip"  
            id="zip">
            <br>
        </div>
        <div>
            <label for="addressLine1"><b> AddressLine1 </b></label><br>
            <input
            class="form-control" 
            #name="ngModel"
            [(ngModel)]="address.addressLine1"
            name="addressLine1"
            type="text" 
            placeholder="Enter addressLine1"  
            id="addressLine1">
            <br>
        </div>
        <div>
            <label for="addressLine2"><b> AddressLine2 </b></label><br>
            <input
            class="form-control" 
            #name="ngModel"
            [(ngModel)]="address.addressLine2"
            name="addressLine2"
            type="text" 
            placeholder="Enter addressLine2"  
            id="addressLine2">
            <br>
        </div>
        <div>
            <label for="longitude"><b> Longitude </b></label><br>
            <input
            class="form-control" 
            #name="ngModel"
            [(ngModel)]="address.longitude"
            name="longitude"
            type="text" 
            placeholder="Enter longitude"  
            id="longitude">
            <br>
        </div>
        <div>
            <label for="latitude"><b> Latitude </b></label><br>
            <input
            class="form-control" 
            #name="ngModel"
            [(ngModel)]="address.latitude"
            name="latitude"
            type="text" 
            placeholder="Enter latitude"  
            id="latitude">
            <br>
        </div>
        <div>
            <label for="phone"><b>Phone Number</b></label><br>
            <input 
            class="form-control"
            #phoneNumber="ngModel"
            [(ngModel)]="appUser.phone"
            type="text" 
            placeholder="Enter your Phone Number" 
            name="phone" 
            id="phone">
            <br>
        </div>
        <button type="submit" class="btn btn-success" (click)="updateUserInfo()">Save Changes</button>
       
    
</div>

