<div class="main_content">
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3 class="panel-heading">{{'GENERAL_ACCOUNT_SETTINGS' | translate}}</h3>
                <form *ngIf="address" #f="ngForm" (ngSubmit)="updateUserInfo()">
                    <div class="row">
                        <div class="col-md-12">
                            <label for="name"><b>{{'NAME' | translate}}</b></label><br>
                            <input
                            class="form-control" 
                            #name="ngModel"
                            [(ngModel)]="appUser.name"
                            name="name"
                            type="text" 
                            placeholder="Enter Name"  
                            id="name"
                            required>
                            <br>
                        </div>
                        <div class="col-md-12">
                            <label for="zip"><b>{{'ZIP' | translate}}</b></label><br>
                            <input
                            class="form-control" 
                            #name="ngModel"
                            [(ngModel)]="address.zip"
                            name="zip"
                            type="text" 
                            placeholder="Enter zip"  
                            id="zip"
                            required>
                            <br>
                        </div>
                        <div class="col-md-12">
                            <label for="addressLine1"><b>{{'ADDRESSLINE1' | translate}}</b></label><br>
                            <input
                            class="form-control" 
                            #name="ngModel"
                            [(ngModel)]="address.addressLine1"
                            name="addressLine1"
                            type="text" 
                            placeholder="Enter addressLine1"  
                            id="addressLine1"
                            required>
                            <br>
                        </div>
                        <div class="col-md-12">
                            <label for="addressLine2"><b>{{'ADDRESSLINE2' | translate}}</b></label><br>
                            <input
                            class="form-control" 
                            #name="ngModel"
                            [(ngModel)]="address.addressLine2"
                            name="addressLine2"
                            type="text" 
                            placeholder="Enter addressLine2"  
                            id="addressLine2"
                            required>
                            <br>
                        </div>
                        <div class="col-md-12">
                            <label for="phone"><b>{{'PHONE_NUMBER' | translate}}</b></label><br>
                            <input 
                            class="form-control"
                            #phoneNumber="ngModel"
                            [(ngModel)]="appUser.phone"
                            type="text" 
                            placeholder="Enter your Phone Number" 
                            name="phone" 
                            id="phone"
                            required>
                            <br>
                        </div>
                        <div class="col-md-12">
                            <hr/>
                            <button type="submit" class="btn btn-primary pull-right" [disabled]="!f.valid">{{'SAVE_CHANGES' | translate}}</button>
                            <button type="button" class="btn btn-default pull-left" (click)="backButton()">{{'BACK' | translate}}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
