<div class="container-fluid">
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-body">
          <div class="bottom">
              <h3 class="title">Do you want to unsubscribe?</h3>
              <p class="subtitle">If you unsubscribe, your account will be deleted and you will need to register again </p>
              <div class="row">
                <hr/>
                  <div class="col-md-12">
                    <button type="submit" class="btn btn-danger pull-right" (click)="deleteAccount()">Delete My Account</button>
                    <button type="submit" class="btn pull-left" routerLink="">Back</button>
                  </div>
              </div>
          </div>
        </div>
    </div>
  </div>
</div>
