<div class="container-fluid">
    <div>
      <div class="col-sm-9 col-md-9 col-lg-10 content equal-height">
        <div class="bottom">
            <h3 class="title">Do you want to unregister?</h3>
            <br>
            <p class="subtitle">If you unregister, your account will be deleted and you will need to register again </p>
                <div class="buttons">
                    <button type="submit" class="btn btn-danger" (click)="deleteAccount()">Delete My Account</button>
                    <button type="button" class="btn btn-default" (click)="cancelButton()">Cancel</button>
                </div>
        </div>
      </div>
    </div>
  </div>
