
<div class="login-form">
    <form #f="ngForm" (ngSubmit)="emailLogin(f.value)">
        <h2 class="text-center">Sign in</h2>		
        <div class="text-center social-btn">
            <a class="btn btn-block btn-facebook" (click)="facebookLogin()"> <i class="fa fa-facebook"></i> Sign in with <b>Facebook</b> </a>
			<a class="btn btn-danger btn-block"  (click)="googleLogin()"><i class="fa fa-google"></i> Sign in with <b>Google</b></a>
        </div>
        <div class="or-seperator"><i>or</i></div>
        
        <div class="form-group">
        	<div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input 
                type="text" 
                class="form-control" 
                #email="ngModel" 
                name="email" 
                ngModel 
                placeholder="Email" 
                id="email" 
                required="required">
            </div>
        </div>
		<div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input 
                type="password" 
                class="form-control" 
                #password="ngModel" 
                name="password" 
                ngModel
                id="passwprd" 
                placeholder="Password" 
                required="required">
            </div>
        </div>        
        <a type="submit" class="btn btn-success btn-block login-btn"><b>Sign in</b> </a>

        <div class="clearfix">
            <a href="#" class="pull-right text-success">Forgot Password?</a>
        </div>  
        
    </form>
    <div class="hint-text small">Don't have an account? <a href="#" class="text-success">Register Now!</a></div>
</div>
  


