<div class="main_content">
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body">
            <h3 class="panel-heading">Weather Details in : {{weatherData?.location.name}}, {{weatherData?.location.country}}</h3>
            <p class="text-center">Weather_descriptions: {{weatherData?.current.weather_descriptions}} <img [src]="weatherData?.current.weather_icons"></p>
            <p class="text-center">Temperature in: {{weatherData?.current.temperature}}</p>
            <p class="text-center">Temperature Feels like: {{weatherData?.current.feelslike}}</p>
</div>
</div>
</div>
</div>
