.gpfiPageLengthControl .tables_length.form-inline .form-control {
    min-width: 100% !important
}
.gpfi.selection.gpfi-dropdown {
    min-width: 1em
}
.gpfiPagination ul {
    margin-bottom: 0
}
.gpfiDataRowError {
    color: red
}
table th {
    word-break: normal;
}