<div class="login-form">
    <form [formGroup]="newUserForm" (ngSubmit)="tryRegister(newUserForm.value)">
        <h2 class="text-center">{{'SIGN_UP' | translate}}</h2>
        <div class="text-center social-btn">
            <a class="btn btn-block btn-facebook" (click)="facebookLogin()"> <i
                    class="fa fa-facebook"></i>{{'SIGN_IN_WITH' | translate}} <b>{{'FACEBOOK' | translate}}</b> </a>
            <a class="btn btn-danger btn-block" (click)="googleLogin()"><i
                    class="fa fa-google"></i>{{'SIGN_IN_WITH' | translate}} <b>{{'GOOGLE' | translate}}</b></a>
        </div>
        <div class="or-seperator"><i>{{'OR' | translate}}</i></div>
        <div class="form-group">
            <mat-form-field class="full-width">
                <input matInput type="name" placeholder="First Name" formControlName="name" required>
                <mat-icon matSuffix>account_circle</mat-icon>
                <mat-error *ngFor="let validation of account_validation_messages.name">
                    <mat-error class="error-message"
                        *ngIf="newUserForm.get('name').hasError(validation.type) && (newUserForm.get('name').dirty || newUserForm.get('name').touched)">
                        {{validation.message}}</mat-error>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="full-width">
                <input matInput type="email" (keydown.space)="$event.preventDefault()" placeholder="Email" formControlName="email" required>
                <mat-icon matSuffix>email</mat-icon>
                <mat-error *ngFor="let validation of account_validation_messages.email">
                    <mat-error class="error-message"
                        *ngIf="newUserForm.get('email').hasError(validation.type) && (newUserForm.get('email').dirty || newUserForm.get('email').touched)">
                        {{validation.message}}</mat-error>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="full-width">
                <input matInput type="password" placeholder="password" formControlName="password" required>
                <mat-icon matSuffix>lock</mat-icon>
                <mat-error *ngFor="let validation of account_validation_messages.password">
                    <mat-error class="error-message"
                        *ngIf="newUserForm.get('password').hasError(validation.type) && (newUserForm.get('password').dirty || newUserForm.get('password').touched)">
                        {{validation.message}}</mat-error>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success btn-block login-btn" [disabled]="!newUserForm.valid">{{'SIGN_UP' | translate}}</button>
        </div>
    </form>  
</div>
