<div class="main_content">
    <h4>Privileges</h4>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-4" *ngFor="let role of roles; index as i">
                        <mat-slide-toggle color="primary" [checked]="userlRoles.includes(role)" (change)="onRoleChange($event, role)" >{{role}}</mat-slide-toggle>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button type="button" class="btn btn-default pull-left" (click)="cancelButton()">{{'CANCEL' | translate}}</button>
            <button type="submit" (click)="updatePrivileges()"class="button btn btn-primary pull-right">{{'SUBMIT' | translate}}</button>
        </div>
    </div>
</div>