<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-body">
            <h4>Offender</h4>
            <div class="row">
                <div class="col-md-6">
                     <ul class="list-group"  *ngIf="offender$ | async as offender ">
                  
                        <li class="list-group-item"><label>First name</label> 
                            <span class="readContent">{{offender.firstName}}</span>
                        </li>
                        <li class="list-group-item"><label>Last name</label> 
                            <span class="readContent">{{offender.lastName}}</span>
                        </li>
                        <li class="list-group-item"><label>AKA</label> 
                            <span class="readContent">{{offender.alsoKnownAs}}</span>
                        </li>
                        <li class="list-group-item"><label>Address</label> 
                            <span class="readContent">{{offender.address}}</span>
                        </li>
                        <li class="list-group-item"><label>Date of birth</label> 
                            <span class="readContent">{{offender.dateOfBirth}}</span>
                        </li>
                        <li class="list-group-item"><label>Description</label> 
                            <span class="readContent">{{offender.description}}</span>
                        </li>
                        <li class="list-group-item"><label>Local Masjid</label> 
                            <span class="readContent">{{offender.masjid}}</span>
                        </li>
                      </ul>
                </div>
                <div class="col-md-6">
                    <mat-accordion>
                        <mat-expansion-panel>
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                              Masjid Notes
                            </mat-panel-title>
                            <mat-panel-description>
                              Type your notes
                            </mat-panel-description>
                          </mat-expansion-panel-header>
                          <label>Note</label>
                          <textarea class="form-control">

                          </textarea>
                          <button style="margin-top: 15px;" class="btn btn-primary pull-right">Save</button>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                              Existing Notes
                            </mat-panel-title>
                          </mat-expansion-panel-header>
                          <p>No notes are available for this offender</p>
                        </mat-expansion-panel>
                      </mat-accordion>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-default pull-left" (click)="backButton()"> Back </button>
                    <button class="btn btn-primary pull-right"> Request More Infomation</button>
                </div>
            </div>
        </div>
    </div>
</div>
