<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-body">
            <h4>Offender</h4>
            <div class="row">
                <div class="col-md-6">
                     <ul class="list-group"  *ngIf="offender$ | async as offender ">
                  
                        <li class="list-group-item"><label>First name</label> 
                            <span class="readContent">{{offender.firstName}}</span>
                        </li>
                        <li class="list-group-item"><label>Last name</label> 
                            <span class="readContent">{{offender.lastName}}</span>
                        </li>
                        <li class="list-group-item"><label>AKA</label> 
                            <span class="readContent">{{offender.alsoKnownAs}}</span>
                        </li>
                        <li class="list-group-item"><label>Address</label> 
                            <span class="readContent">{{offender.address}}</span>
                        </li>
                        <li class="list-group-item"><label>Date of birth</label> 
                            <span class="readContent">{{offender.dateOfBirth}}</span>
                        </li>
                        <li class="list-group-item"><label>Description</label> 
                            <span class="readContent">{{offender.description}}</span>
                        </li>
                        <li class="list-group-item"><label>Local Masjid</label> 
                            <span class="readContent">{{offender.masjid}}</span>
                        </li>
                      </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-default pull-left"> Back </button>
                    <button class="btn btn-primary pull-right"> Request More Infomation</button>
                </div>
            </div>
        </div>
    </div>
</div>
