<div class="container-fluid">
    <div class="container">
      <app-claim-menu></app-claim-menu>
      <div class="panel panel-default">
        <div class="panel-body">
            <h4>Make Claim</h4>
            <mat-horizontal-stepper [linear]="isLinear" #stepper>
                <mat-step [stepControl]="firstFormGroup">
                <form [formGroup]="firstFormGroup">
                    <ng-template matStepLabel>Your information</ng-template>
                    <div class="row">
                        <div class="form-group col-md-4 required">
                            <label class="control-label">First Name</label>
                            <input type="text" name="firstName" formControlName="firstName" class="form-control"/>
                            <div *ngIf="(firstFormGroup.controls.firstName.touched) && firstFormGroup.controls.firstName.errors">
                            <span *ngIf="firstFormGroup.controls.firstName.invalid" class="msg-error">Error</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4 required">
                            <label class="control-label">Last Name</label>
                            <input type="text" name="lastName" formControlName="lastName" class="form-control"/>
                            <div *ngIf="(firstFormGroup.controls.lastName.touched) && firstFormGroup.controls.lastName.errors">
                            <span *ngIf="firstFormGroup.controls.lastName.invalid" class="msg-error">Error</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="control-label">Email Address</label>
                            <input type="text" name="emailAddress" formControlName="emailAddress" class="form-control"/>
                            <div *ngIf="(firstFormGroup.controls.emailAddress.touched) && firstFormGroup.controls.emailAddress.errors">
                            <span *ngIf="firstFormGroup.controls.emailAddress.invalid" class="msg-error">Error</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="control-label">Phone Number</label>
                            <input type="text" name="phoneNumber" formControlName="phoneNumber" class="form-control"/>
                            <div *ngIf="(firstFormGroup.controls.phoneNumber.touched) && firstFormGroup.controls.phoneNumber.errors">
                            <span *ngIf="firstFormGroup.controls.phoneNumber.invalid" class="msg-error">Error</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-primary" matStepperNext>Next</button>
                        </div>
                    </div>
                </form>
                </mat-step>
                <mat-step [stepControl]="secondFormGroup">
                <form [formGroup]="secondFormGroup">
                    <ng-template matStepLabel>Offender information</ng-template>
                    <div class="row">
                        <div class="form-group col-md-4 required">
                            <label class="control-label">First Name</label>
                            <input type="text" name="firstName" formControlName="firstName" class="form-control"/>
                            <div *ngIf="(secondFormGroup.controls.firstName.touched) && secondFormGroup.controls.firstName.errors">
                            <span *ngIf="secondFormGroup.controls.firstName.invalid" class="msg-error">Error</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="control-label">Last Name</label>
                            <input type="text" name="lastName" formControlName="lastName" class="form-control"/>
                            <div *ngIf="(secondFormGroup.controls.lastName.touched) && secondFormGroup.controls.lastName.errors">
                            <span *ngIf="secondFormGroup.controls.lastName.invalid" class="msg-error">Error</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="control-label">Also known as</label>
                            <input type="text" name="alsoKnownAs" formControlName="alsoKnownAs" class="form-control"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="control-label">Date of birth</label>
                            <div class="input-group calenderControl">
                                <input type="text" name="dateOfBirth" formControlName="dateOfBirth" class="form-control" matInput [matDatepicker]="picker">
                                <span class="input-group-addon" id="basic-addon2">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker></span>
                              </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="control-label">Local Masjid</label>
                            <input type="text" name="masjid" formControlName="masjid" class="form-control"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="control-label">Phone Number</label>
                            <input type="text" name="phoneNumber" formControlName="phoneNumber" class="form-control"/>
                            <div *ngIf="(secondFormGroup.controls.phoneNumber.touched) && secondFormGroup.controls.phoneNumber.errors">
                            <span *ngIf="secondFormGroup.controls.phoneNumber.invalid" class="msg-error">Error</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="control-label">Pictures</label>
                            <input type="file"  name="pictures" formControlName="pictures" (change)="selectImage($event, 'offender')" class="form-control"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label">Additional information</label>
                            <textarea type="text" name="description" formControlName="description" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-default" matStepperPrevious>Back</button>
                            <button class="btn btn-primary" matStepperNext>Next</button>
                        </div>
                    </div>
                </form>
                </mat-step>
                <mat-step [stepControl]="thirdFormGroup">
                    <form [formGroup]="thirdFormGroup">
                        <ng-template matStepLabel>Fill out details</ng-template>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label class="control-label">Proof to support claim</label>
                                <input type="file"  name="supportingProof" formControlName="supportingProof" (change)="selectImage($event, 'claim')" class="form-control"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label class="control-label">Extra information</label>
                                <textarea  name="extraDetails" formControlName="extraDetails" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button class="btn btn-default" matStepperPrevious>Back</button>
                                <button class="btn btn-primary" matStepperNext>Next</button>
                            </div>
                        </div>
                    </form>
                </mat-step>
                <mat-step>
                <ng-template matStepLabel>Done</ng-template>
                <p>Your claim is complete please press submit button to submit information, or press back to adjust claim </p>
                <div>
                    <button class="btn btn-default" matStepperPrevious>Back</button>
                    <button class="btn btn-primary"  (click)="submitClaim()">Submit</button>
                </div>
                </mat-step>
            </mat-horizontal-stepper>
        </div>
       </div>
    </div>
</div>
  