
<!-- <div *ngFor="let word of wordsArray">
        <label for="trans"> {{word.word | json }} is : </label>
          <input #wordTrans  type="text" value="{{word.trans | json }}">
          <button (click)="updateTranslations( word.word, wordTrans.value)">Edit translation</button>
</div>
<div *ngFor="let word of wordsArray">
 {{word.word | json }}
 {{word.trans | json}}
</div> -->
<!-- 
<div class="container">
    <form #f="ngForm" (ngSubmit)="updateTranslations(f.value)">
        Add new word
        <div>
            <label for="word"><b>Word</b></label><br>
            <input
            class="form-control" 
            #name="ngModel"
            [(ngModel)]="word.word"
            name="word"
            type="text"  
            id="word">
            <br>
        </div>
        <div>
            <label for="translations"><b>translations</b></label><br>
            <input
            class="form-control"
            #name="ngModel"
            [(ngModel)]="word.trans" 
            name="tans" 
            type="trans"  
            id="trans">
            <br>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>

<button (click)="clicked()"> GET trans</button> -->


<!-- <div id="page-wrapper">
    <app-data-table [Columns]="colDefinitions" [Data]='data' ></app-data-table>
</div> -->
Translation Language
<select [(ngModel)]="selectedProject" (change)="onLangChange($event)">
    <!-- <option value="none" selected disabled hidden>  -->
    <!-- <option value="">- - Language Selection - -</option> -->
    <option *ngFor="let language of languages$ | async" [value]="language">
        {{language}}
    </option>
</select>
<!-- {{selectedProject | json }} selectedProject -->
<!-- {{selectedLanguage | json}} == here -->
    <!-- <option *ngIf="!selectedLanguage" value="none" selected disabled hidden></option>
    <option *ngIf="selectedLanguage" value="selectedlanguage" selected="selected">{{selectedLanguage}}</option> -->

    <!-- <select class="form-control" [(ngModel)]="selectedWorkout" (ngModelChange)="updateWorkout($event)">
        <option *ngFor="#workout of workouts">{{workout.name}}</option>
    </select> -->


<button class="btn btn-primary" (click)="AddLanguage()">Add Language</button>
<div id="page-wrapper">
    <app-data-table 
        [Columns]="colDefinitions" 
        [Data]='data' 
        [(GeneralSettings)]="generalSettings"
        [ExpansionSettings]="languageExpansionSettings" 
        [PageSettings]="pageSettings"  
    >
    </app-data-table>
</div>
<button class="btn btn-primary" (click)="addNewWord()">Add New Word</button>
