<div class="container">
    <form #f="ngForm" (ngSubmit)="addNewKaLanguage()">
        <h2 class='data_grid_center_align'>Add New Language</h2>
        <div>
            <label for="word"><b>Language</b></label><br>
            <input
            class="form-control" 
            #name="ngModel"
            [(ngModel)]="language.language"
            name="language"
            type="text"  
            id="language"
            required>
            <br>
        </div>
        <div>
            <label for="word"><b>New Word</b></label><br>
            <input
            class="form-control" 
            #name="ngModel"
            [(ngModel)]="newWord.id"
            name="word"
            type="text"  
            id="word" 
            required>
            <br>
        </div>
        <div>
            <label for="translations"><b>Word Translations</b></label><br>
            <input
            class="form-control"
            #name="ngModel"
            [(ngModel)]="newWord.trans" 
            name="tans" 
            type="trans"  
            id="trans" 
            required>
            <br>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>
