<p>login works!</p>
<div class="container">
    <form #f="ngForm" (ngSubmit)="emailLogin(f.value)">
        <h1>Email Login</h1>
        <div>
            <label for="email"><b>E-mail</b></label><br>
            <input
            class="form-control" 
            #email="ngModel"
            [(ngModel)]="emailInput"
            type="text" 
            placeholder="Enter Email" 
            name="email" 
            id="email">
            <br>
        </div>
        <div>
            <label for="password"><b>Password</b></label><br>
            <input
            class="form-control"
            #password="ngModel"
            [(ngModel)]="passwordInput" 
            type="password" 
            placeholder="Enter Password" 
            name="password" 
            id="password">
            <br>
        </div>
        <button type="submit" class="btn btn-success">Login</button>
    </form>

</div>

<div>
<ng-container>
    <button (click)="googleLogin()" class="btn btn-primary">Login with Google</button>
</ng-container>
</div>
