.signInBtn{
    background: transparent;
}
.nameBadge{
    box-shadow: none;
}
.settingsBtn{
    font-size: 31px;
    margin-top: 4px;
}
.settingsBtn:hover{
    cursor: pointer;
}

.projectName{
    color: Black;
}

.languageBtn{
    font-size: 31px;
    margin-top: 4px;
}
.languageBtn{
    cursor: pointer;
}
.settingsBtn{
    color: black;
}
