<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button  type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <h3><a class="projectName" href="">{{'TETOUAN_PROJECT' | translate}}</a></h3>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right" *ngIf="appUser ; else anonymousUser">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-cog settingsBtn"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/userSetting">{{'Settings' | translate}}</a></li>
            <li><a routerLink="/unRegister">{{'UNREGISTER' | translate}}</a></li>
          </ul>
        </li>
        <li><app-claim-menu></app-claim-menu></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <button class="nameBadge" mat-mini-fab color="primary">{{btnWord}}</button>
          </a>
          <ul class="dropdown-menu">
            <!-- <li><a *ngIf="appUser.roles.includes('Masjid')" (click)="viewMarriages()">View Marriages</a></li>
            <li><a *ngIf="appUser.roles.includes('Masjid')" (click)="viewParteners()">view Parteners</a></li>
            <li *ngIf="appUser.roles.includes('Verifier')"><a (click)="viewClaims()">View Claims</a></li>
            <li *ngIf="appUser.roles.includes('Masjid')"><a (click)="viewOffenders()">View Offenders</a></li> -->
            <li *ngIf="appUser.roles.includes('Admin')"> <a (click)="manageUsers()">{{'MANAGE_USERS' | translate}}</a></li>
            <li role="separator" class="divider"></li>
            <li><a routerLink="#" (click)="logout()">{{'LOG_OUT' | translate}}</a></li>
          </ul>
        </li>
      </ul>
        <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-globe languageBtn"></span></a>
          <ul class="dropdown-menu">
            <li *ngFor="let language of languages$ | async" [value]="language"><a (click)="selectLanguage(language)">{{language | translate}}</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<ng-template #anonymousUser>
  <ul class="nav navbar-nav navbar-right">
    <li ><a routerLink="/login"><button class="btn signInBtn">{{'SIGN_IN' | translate}} <span class="sr-only">(current)</span></button></a></li>
    <li><a routerLink="/signup"><button class="btn btn-primary">{{'SIGN_UP' | translate}}</button></a></li>
  </ul>
</ng-template>


