<div class="container">
    <form #f="ngForm" (ngSubmit)="updateTranslations()">
        <div>
            <label for="word"><b>Word ID</b></label><br>
            <input
            class="form-control" 
            #name="ngModel"
            [(ngModel)]="newWord.id"
            name="word"
            type="text"  
            id="word"
            disabled>
            <br>
        </div>
        <div>
            <label for="translations"><b>translations</b></label><br>
            <input
            class="form-control"
            #name="ngModel"
            [(ngModel)]="newWord.trans" 
            name="tans" 
            type="trans"  
            id="trans">
            <br>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>
