<div class="container" *ngIf="newAddress">
    <form  *ngIf="newAddress" #f="ngForm" (ngSubmit)="addUserInfo()">
        <div>
            <label for="zip"><b> ZIP </b></label><br>
            <input
            class="form-control" 
            #name="ngModel"
            [(ngModel)]="newAddress.zip"
            name="zip"
            type="text" 
            placeholder="Enter zip"  
            id="zip"
            required>
            <br>
        </div>
        <div>
            <label for="addressLine1"><b> AddressLine1 </b></label><br>
            <input
            class="form-control" 
            #name="ngModel"
            [(ngModel)]="newAddress.addressLine1"
            name="addressLine1"
            type="text" 
            placeholder="Enter addressLine1"  
            id="addressLine1"
            required>
            <br>
        </div>
        <div>
            <label for="addressLine2"><b> AddressLine2 </b></label><br>
            <input
            class="form-control" 
            #name="ngModel"
            [(ngModel)]="newAddress.addressLine2"
            name="addressLine2"
            type="text" 
            placeholder="Enter addressLine2"  
            id="addressLine2"
            required>
            <br>
        </div>
        <div>
            <label for="phone"><b>Phone Number</b></label><br>
            <input 
            class="form-control"
            #phoneNumber="ngModel"
            [(ngModel)]="newUser.phone"
            type="text" 
            placeholder="Enter your Phone Number" 
            name="phone" 
            id="phone"
            required>
            <br>
        </div>
        <button type="submit" class="btn btn-success" [disabled]="!f.valid">Submit</button>
        <button type="button" class="btn btn-btn" routerLink="">Skip</button>
    </form>
</div>
