<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <form  *ngIf="language.language" #f="ngForm" (ngSubmit)="addWord()  ">
                <h3 class='data_grid_center_align'>Add New Word</h3>
                <div>
                    <label for="word"><b>Word</b></label><br>
                    <input
                    class="form-control" 
                    #name="ngModel"
                    [(ngModel)]="newWord.id"
                    name="word"
                    type="text"  
                    id="word">
                    <br>
                </div>
                <div >
                    <label for="translations"><b>{{language.language}} translations</b></label><br>
                    <input
                    class="form-control"
                    #name="ngModel"
                    [(ngModel)]="newWord.word[language.language]" 
                    name="newWord.word[language.language]" 
                    type="text"  
                    id="trans"
                    required>
                    <br>
                </div>
                <hr/>
                <button type="button" class="btn btn-default pull-left" (click)="backButton()">cancel</button>
                <button type="submit" class="button btn btn-primary pull-right" [disabled]="!f.valid">Submit</button>

            </form>
        </div>
    </div>
</div>
