<div class="main_content">
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3 class="panel-heading">{{'USER_ADDRESS_DETAILS' | translate}}</h3>
                <form *ngIf="userAddressInfo" #f="ngForm" (ngSubmit)="EditUserAddInfo()">
                    <div>
                        <label for="addressLine1"><b> {{'ADDRESSLINE1' | translate}} </b></label><br>
                        <input class="form-control" #name="ngModel" [(ngModel)]="userAddressInfo.addressLine1"
                            name="addressLine1" type="text" placeholder="Enter addressLine1" id="addressLine1" required>
                        <br>
                    </div>
                    <div>
                        <label for="addressLine2"><b> {{'ADDRESSLINE2' | translate}} </b></label><br>
                        <input class="form-control" #name="ngModel" [(ngModel)]="userAddressInfo.addressLine2"
                            name="addressLine2" type="text" placeholder="Enter addressLine2" id="addressLine2" required>
                        <br>
                    </div>
                    <div>
                        <label for="zip"><b> {{'ZIP' | translate}} </b></label><br>
                        <input class="form-control" #name="ngModel" [(ngModel)]="userAddressInfo.zip" name="zip"
                            type="text" placeholder="Enter zip" id="zip" required>
                        <br>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right"
                        [disabled]="!f.valid">{{'SUBMIT' | translate}}</button>
                    <button type="button" class="btn btn-default pull-left"
                        (click)="backButton()">{{'BACK' | translate}}</button>
                </form>
            </div>
        </div>
    </div>
</div>