<div class="container-fluid">
    <div class="container">
      <div class="panel panel-default">
        <div class="panel-body">
            <div class="bottom">
                <h3 class="title">{{'EMAIL_VERIFICATION' | translate}}</h3>
                <p class="subtitle">{{'PLEASE_CHECK_YOUR_EMAIL_INBOX_TO_VERIFY_YOUR_EMAIL_AND_SIGN-IN_AGIAN' | translate}}</p>
                <div class="row">
                  <hr/>
                    <div class="col-md-12">
                      <button type="submit" class="btn btn-primary" routerLink="/login" >{{'GO_BACK_TO_LOGIN_PAGE' | translate}}</button>
                    </div>
                </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  