<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-body">
            <h4>Claim</h4>
            <div class="row">
                <div class="col-md-6" [ngClass]="{'editState':editState.offender}">
                    <form  #o="ngForm" (ngSubmit)="onSubmit('offender')">                    
                        <ul class="list-group"  *ngIf="claim.offender">
                        <li class="list-group-item  panel-heading">
                            <div class="row">
                                <div class="col-md-12">
                                    <h5><i class="glyphicon glyphicon-user"></i>Offender</h5>
                                    <a class="glyphicon glyphicon-pencil btn btn-primary pull-right" (click)="editState.offender = !editState.offender"></a>
                                </div>
                            </div>
                        </li>
                        
                        <li class="list-group-item"><label>First name</label> 
                            <span class="readContent">{{claim?.offender.firstName}}</span>
                            <input type="text" class="form-control" name="firstName" [(ngModel)]="claim?.offender.firstName" [ngModelOptions]="{updateOn:'submit'}"/>
                        </li>
                        <li class="list-group-item"><label>Last name</label> 
                            <span class="readContent">{{claim?.offender.lastName}}</span>
                            <input type="text" class="form-control" name="lastName" [(ngModel)]="claim?.offender.lastName" [ngModelOptions]="{updateOn:'submit'}"/>
                        </li>
                        <li class="list-group-item"><label>AKA</label> 
                            <span class="readContent">{{claim?.offender.alsoKnownAs}}</span>
                            <input type="text" class="form-control" name="alsoKnownAs" [(ngModel)]="claim?.offender.alsoKnownAs" [ngModelOptions]="{updateOn:'submit'}"/>
                        </li>
                        <li class="list-group-item"><label>Address</label> 
                            <span class="readContent">{{claim?.offender.address}}</span>
                            <input type="text" class="form-control" name="address" [(ngModel)]="claim?.offender.address" [ngModelOptions]="{updateOn:'submit'}"/>
                        </li>
                        <li class="list-group-item"><label>Date of birth</label> 
                            <span class="readContent">{{claim?.offender.dateOfBirth}}</span>
                            <div class="input-group calenderControl">
                                <input type="text" name="dateOfBirth" [(ngModel)]="claim?.offender.dateOfBirth" class="form-control" matInput [matDatepicker]="picker">
                                <span class="input-group-addon" id="basic-addon2">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker></span>
                              </div>
                        </li>
                        <li class="list-group-item"><label>Description</label> 
                            <span class="readContent">{{claim?.offender.description}}</span>
                            <input type="text" class="form-control" name="description" [(ngModel)]="claim?.offender.description" [ngModelOptions]="{updateOn:'submit'}"/>
                        </li>
                        <li class="list-group-item"><label>Local Masjid</label> 
                            <span class="readContent">{{claim?.offender.masjid}}</span>
                            <input type="text" class="form-control" name="masjid" [(ngModel)]="claim?.offender.masjid" [ngModelOptions]="{updateOn:'submit'}"/>
                        </li>
                        <li class="list-group-item"><label>Verified</label> 
                            <span style='font-size: 25px' [ngClass]="{'glyphicon-ok-circle' : claim?.offender.verified, 'glyphicon-remove-circle':!claim?.offender.verified }" class='glyphicon readContent'></span>
                            <mat-checkbox class="example-margin" name="verified" [(ngModel)]="claim?.offender.verified" [ngModelOptions]="{updateOn:'submit'}"></mat-checkbox>
                        </li>
                        <li class="list-group-item editBtns">
                            <div class="row">
                                <div class="col-md-12">
                                    <button (click)="editState.offender = !editState.offender" class="btn btn-default pull-left">Cancel</button>
                                    <button type="submit" class="btn btn-primary pull-right">Save</button>
                                </div>
                            </div>
                        </li>
                      </ul>
                    </form>
   
                </div>
                <div class="col-md-6">
                    <form #c="ngForm" (ngSubmit)="onSubmit('claimant')" [ngClass]="{'editState':editState.claimant}">
                        <ul class="list-group" *ngIf="claim.claimant">
                            <li class="list-group-item  panel-heading">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h5><i class="glyphicon glyphicon-user"></i>Claimant</h5>
                                        <a type="button" class="glyphicon glyphicon-pencil btn btn-primary pull-right" (click)="editState.claimant = !editState.claimant"></a>
                                    </div>
                                </div>                        
                            </li>
                            <li class="list-group-item"><label>First name</label> 
                                <span class="readContent">{{claim?.claimant.firstName}}</span>
                                <input type="text" class="form-control" name="firstName" [(ngModel)]="claim?.claimant.firstName" [ngModelOptions]="{updateOn:'submit'}"/>
                            </li>
                            <li class="list-group-item"><label>Last name</label> 
                                <span class="readContent">{{claim?.claimant.lastName}}</span>
                                <input type="text" class="form-control" name="lastName" [(ngModel)]="claim?.claimant.lastName" [ngModelOptions]="{updateOn:'submit'}"/>
                            </li>
                            <li class="list-group-item"><label>Phone Number</label> 
                                <span class="readContent">{{claim?.claimant.phoneNumber}}</span>
                                <input type="text" class="form-control" name="phoneNumber" [(ngModel)]="claim?.claimant.phoneNumber" [ngModelOptions]="{updateOn:'submit'}"/>
                            </li>
                            <li class="list-group-item"><label>Email</label> 
                                <span class="readContent">{{claim?.claimant.email}}</span>
                                <input type="text" class="form-control" name="email" [(ngModel)]="claim?.claimant.emailAddress" [ngModelOptions]="{updateOn:'submit'}"/>
                            </li>
                            <li class="list-group-item editBtns">
                                <div class="row">
                                    <div class="col-md-12">
                                        <button (click)="editState.claimant = !editState.claimant" class="btn btn-default pull-left">Cancel</button>
                                        <button type="submit"  class="btn btn-primary pull-right">Save</button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </form>
                    <form  (ngSubmit)="onSubmit('claim')"  [ngClass]="{'editState':editState.claim}">
                        <ul class="list-group" *ngIf="claim.claim">
                            <li class="list-group-item  panel-heading">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h5><i class="glyphicon glyphicon-paperclip"></i>Extra details</h5>
                                        <a class="glyphicon glyphicon-pencil btn btn-primary pull-right" (click)="editState.claim = !editState.claim"></a>
                                    </div>
                                </div>                         
                            </li>
                            <li class="list-group-item"><label>Further information</label> 
                                <span class="readContent">{{claim?.claim.extraDetails}}</span>
                                <input type="text" class="form-control" name="extraDetails" [(ngModel)]="claim?.claim.extraDetails" [ngModelOptions]="{updateOn:'submit'}"/>
                            </li>
                            <li class="list-group-item"><label>LoggedTime</label> 
                                <span class="readContent">{{claim?.claim.loggedTime}}</span>
                                <input type="text" class="form-control" name="loggedTime" [(ngModel)]="claim?.claim.loggedTime" [ngModelOptions]="{updateOn:'submit'}"/>
                            </li>
                            <li class="list-group-item editBtns">
                                <div class="row">
                                    <div class="col-md-12">
                                        <button (click)="editState.claim = !editState.claim" class="btn btn-default pull-left">Cancel</button>
                                        <button type="submit" class="btn btn-primary pull-right">Save</button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-default pull-left" (click)="backButton()">Back</button>
                    <button class="btn btn-primary pull-right" (click)="verifyButton()">Verify</button>
                </div>
            </div>
        </div>
    </div>
</div>