/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "legacy_assets/legacy.css";
@import "legacy_assets/font.css";
@import "legacy_assets/responsive.css";
@import "legacy_assets/semantic.css";
@import "legacy_assets/whiteLabeling.css";

html, body { width: 100%; height: 100%; }
/*body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }*/
div.mask {
  z-index:9999;
  width:100%;
  height: 100%;
  background-color: rgba(0,0,0,0.15);
  position: absolute;
  top:0;
}

.data_grid_left_align {
  text-align: left;
}
.data_grid_center_align {
  text-align: center;
}

.subHeader {
  margin-bottom: 20px;
  font-weight: 600;
}
.form-group.required .control-label:after {
  content:"*";
}

textarea{
  resize: none;
}

.ng-touched input.ng-invalid{
  border-color: #a94442;
} 

.msg-error {
  color: #a94442;
  font-size: 80%;
  text-align: left;
}

button {
  margin-bottom: 5px !important
}

button+button {
  margin-left: 5px
}
html, body { height: 100%; }
.panel-heading{
  text-align: center;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  background-color: #3f51b5;
  border-color: #3f51b5;
}

