<div class="panel panel-default">
    <div class="panel-body">
        <h3>{{'MANAGE_USERS' | translate}}</h3>
        <form [formGroup]="searchFormGroup" (ngSubmit)="onPageChange()">
            <div class="well">
                <div class="row">
                    <div class="col-md-3 form-group">
                        <label>{{'NAME' | translate}}</label>
                        <input type="text" class="form-control" formControlName='name'>
                    </div>
                    <div class="col-md-3 form-group">
                        <label>{{'USER_ID' | translate}}</label>
                        <input type="text" class="form-control" formControlName='_id'>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="button btn btn-primary pull-right">{{'SEARCH' | translate}}</button>
                    </div>
                </div>
            </div>
        </form>
        <app-data-table [Columns]="colDefinitions" [Data]='data' [(GeneralSettings)]="generalSettings"
            [ExpansionSettings]="expansionSettings" [PageSettings]="pageSettings"></app-data-table>
    </div>
</div>