<div class="main_content">
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3 class="panel-heading">{{'Register Divorce' | translate}}</h3>
                <form  #f="ngForm" (ngSubmit)="registerDivorce()">
                    <div class="row">
                    <div class="col-md-12">
                        <label for="reason"><b>{{'Date of Divorce' | translate}}</b></label><br>
                        <div class="input-group calenderControl">
                            <input type="text" name="dateOfDivorce" [(ngModel)]="divorce.dateOfDivorce" class="form-control" matInput [matDatepicker]="picker">
                            <span class="input-group-addon" id="basic-addon2">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker></span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label for="reason"><b>{{'Reason' | translate}}</b></label><br>
                        <textarea class="form-control" #name="ngModel" [(ngModel)]="divorce.reason" name="reason" type="text" required></textarea>
                        <br>
                    </div>
                    <div class="col-md-12">
                        <hr/>
                    <button type="submit" class="btn btn-primary pull-right" [disabled]="!f.valid">{{'SUBMIT' | translate}}</button>
                    <button type="button" class="btn btn-default pull-left" (click)="back()">{{'BACK' | translate}}</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>